{#<ul class="cotalog_menu padding-site">#}
{#    <li><a class="{% if request.resolver_match.namespace == 'products' %}#}
{#                        cotalog_menu-link active#}
{#                      {% endif %}" href="{% url 'products:index' %}">All</a></li>#}
{#    {% for link in categories %}#}
{#        <li>#}
{#            <a href="#" class="cotalog_menu-link">#}
{#                {{ link.name }}#}
{#            </a>#}
{#        </li>#}
{#    {% endfor %}#}
{#</ul>#}


<ul class="cotalog_menu padding-site">
    <li>
        <a href="{% url 'products:category' 0 %}"
           class="{% if request.resolver_match.kwargs.pk == '0' %}
                cotalog_menu-link active
                {% else %}
                cotalog_menu-link
              {% endif %}">All</a>
    </li>
    {% for link in links_menu %}
        <li>
            <a href="{% url 'products:category' link.pk %}"
               class="{% if request.resolver_match.kwargs.pk|add:'0' == link.pk %}
                cotalog_menu-link active
                {% else %}
                cotalog_menu-link
                {% endif %}">
                {{ link.name }}
            </a>
        </li>
    {% endfor %}
</ul>