<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="container">
            <div class="product_range padding-site">
                <div class="header ">
                    <a class="logo" href="/"><img src="/static/img/logo.svg" alt="logo"></a>
                    {% include 'mainapp/includes/inc_menu.html' %}
                </div>
                {% block page_title %}
                {% endblock %}
            </div>
        <div class="login-form padding-site">
            {% block content %}
            {% endblock %}
        </div>

        </div>
    </div>
    <div class="container">
        <div class="footer padding-site">
            <div class="footer-top">
                <div class="contact">
                    <h3 class="footer-h3">CONTACT US</h3>
                    <p class="contact-p">132A Bridge Road Richmand VIC Australia<br> <br>Talk to us on 1300132
                        info@interior.com</p>
                </div>
                <div class="useful">
                    <h3 class="footer-h3">USEFUL INFORMATION</h3>
                    <div class="mini-menu">
                        <div class="menu-mini right-margin">
                            <a href="#">SALES TERMS</a>
                            <a href="#">CUSTOMER CARE</a>
                            <a href="#">DELIVERY</a>
                        </div>
                        <div class="menu-mini">
                            <a href="#">ARCHITECT ACCOUNTS</a>
                            <a href="#">CAREERS</a>
                            <a href="#">EXCHANGES & RETURNS</a>
                        </div>
                    </div>
                </div>
                <div class="touch">
                    <h3 class="footer-h3">LET'S STAY IN TOUCH</h3>
                    <p class="contact-p">Subscribe to know about our latest news, products and spoecial offers just
                        for subscribers.</p>
                    <form class="email-form" action="#">
                        <input class="contact-email" type="text" placeholder="your email adress">
                        <input class="email-button" type="submit" value="">
                    </form>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="copyright">
                    <p>&copy; COPYRIGHT - INTERIOR 2016.ALL RIGHTS RESERVED</p>
                </div>
                <div class="s-links">
                    <a href="#"><img src="/static/img/social-links.png" alt="links"></a>
                </div>
                <div class="terms">
                    <a href="#">TERMS & CONDITIONS/PRIVACY POLICY & COOKIES</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

