{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Interior</title>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="top">
            <div class="container">
                <div class="slider padding-site">
                    <div class="header">
                        <a class="logo" href="#"><img src="/static/img/logo.svg" alt="logo"></a>
                        {% include 'mainapp/includes/inc_menu.html' %}
                    </div>
                    <div class="slider-text">
                        <h4 class="slider-h4">TRENDING</h4>
                        <h2 class="slider-h2">Fishnet Chair</h2>
                        <p class="slider-p">
                            Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                        </p>
                        <a href="#" class="button">order us <img class="arrow" src="/static/img/arrow.png" alt="arrow"></a>
                    </div>
                    <div class="slider-pagination">
                        <a href="" class="circle"></a>
                        <a href="" class="circle circle-active"></a>
                        <a href="" class="circle"></a>
                    </div>
                </div>

                <div class="featured_product padding-site">
                    <div class="featured">
                        <a class="featured_new_active" href="#">Featured </a><a class="featured_new" href="#">New</a>
                        <a class="explore_all" href="#">explore all <img class="arrow" src="/static/img/arrow.png"
                                                                         alt="arrow"></a>
                    </div>
                    <div class="featured_items">
                        <div class="product" style="background-image: url(/static/img/promo_item1.jpg)">
                            <div class="product-text">
                                <a class="feature-link" href="#"><img src="/static/img/arrow2.svg" alt="arrow"></a>
                                <h3 class="feature-h3">Fishnet Chair</h3>
                                <p class="feature-p">Seat and back with upholstery made of cold cure foam.</p>
                            </div>
                        </div>
                        <div class="product" style="background-image: url(/static/img/promo_item2.jpg)">
                            <div class="product-text">
                                <a class="feature-link" href="#"><img src="/static/img/arrow2.svg" alt="arrow"></a>
                                <h3 class="feature-h3">Fishnet Chair</h3>
                                <p class="feature-p">Seat and back with upholstery made of cold cure foam.</p>
                            </div>
                        </div>
                        <div class="product" style="background-image: url(/static/img/promo_item3.jpg)">
                            <div class="product-text">
                                <a class="feature-link" href="#"><img src="/static/img/arrow2.svg" alt="arrow"></a>
                                <h3 class="feature-h3">Fishnet Chair</h3>
                                <p class="feature-p">Seat and back with upholstery made of cold cure foam.</p>
                            </div>
                        </div>
                        <div class="product" style="background-image: url(/static/img/promo_item4.jpg)">
                            <div class="product-text">
                                <a class="feature-link" href="#"><img src="/static/img/arrow2.svg" alt="arrow"></a>
                                <h3 class="feature-h3">Fishnet Chair</h3>
                                <p class="feature-p">Seat and back with upholstery made of cold cure foam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="exclusive_product">
                    <div class="exl_left">
                        <div class="exclusive_text">
                            <h4 class="exclusive-h4">exclusive</h4>
                            <h2 class="exclusive-h2">Fishnet Chair</h2>
                            <p class="exclusive-p">
                                Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                                powder-coated black
                                or highly polished chrome.
                            </p>
                            <a href="#" class="button">order us <img class="arrow" src="/static//img/arrow.png"
                                                                     alt="arrow"></a>
                        </div>
                    </div>
                    <div class="exl_right">
                        <div class="exclusive_text">
                            <h4 class="exclusive-h4">exclusive</h4>
                            <h2 class="exclusive-h2">Fishnet Chair</h2>
                            <p class="exclusive-p">
                                Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                                powder-coated black
                            </p>
                            <a href="#" class="button">order us <img class="arrow" src="/static/img/arrow.png"
                                                                     alt="arrow"></a>
                        </div>
                    </div>
                </div>
                <div class="trending_products padding-site">
                    <a class="up_links" href="#">Trending Products</a>
                    <a class="explore_all" href="#">explore all <img class="arrow" src="/static/img/arrow.png"
                                                                     alt="arrow"></a>
                    <div class="trending_items">
                        <a class="trending_item" href="#" style="background-image: url(/static/img/trending1.jpg)"></a>
                        <a class="trending_item" href="#" style="background-image: url(/static/img/trending2.jpg)"></a>
                        <a class="trending_item" href="#" style="background-image: url(/static/img/trending3.jpg)"></a>
                        <a class="trending_item" href="#" style="background-image: url(/static/img/trending4.jpg)"></a>
                        <a class="trending_item" href="#" style="background-image: url(/static/img/trending5.jpg)"></a>
                        <a class="trending_item" href="#" style="background-image: url(/static/img/trending6.jpg)"></a>

                    </div>
                </div>
                <div class="hot_deal padding-site">
                    <div class="slider-text hot_deals_text">
                        <h4 class="hot_deals-h4">hot deals</h4>
                        <h2 class="slider-h2">Fishnet Chair</h2>
                        <p class="slider-p">
                            Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                            powder-coated black
                        </p>
                        <a href="#" class="button">order us <img class="arrow" src="/static//img/arrow.png" alt="arrow"></a>
                    </div>
                    <div class="slider-pagination">
                        <a href="#" class="circle"></a>
                        <a href="#" class="circle circle-active"></a>
                        <a href="#" class="circle"></a>
                    </div>
                </div>
                <div class="exclusive2 padding-site">
                    <div class="exl2_left" style="background-image: url(/static/img/exclusive2_0.jpg)">
                        <div class="exclusive2_text">
                            <h4 class="exclusive2-h4">exclusive</h4>
                            <h2 class="exclusive2-h2">Fishnet Chair</h2>
                            <p class="exclusive2-p">
                                Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                                powder-coated black
                            </p>
                            <a href="#" class="button">order us <img class="arrow" src="/static//img/arrow.png"
                                                                     alt="arrow"></a>
                        </div>
                    </div>
                    <div class="exl2_right">
                        <a class="exl2_right_item" href="#"
                           style="background-image: url(/static/img/exclusive2_1.jpg)"></a>
                        <a class="exl2_right_item" href="#"
                           style="background-image: url(/static/img/exclusive2_2.jpg)"></a>
                        <a class="exl2_right_item" href="#"
                           style="background-image: url(/static/img/exclusive2_3.jpg)"></a>
                        <a class="exl2_right_item" href="#"
                           style="background-image: url(/static/img/exclusive2_4.jpg)"></a>
                    </div>
                </div>
                <div class="mobileapp padding-site">
                    <div class="app-text">
                        <h3 class="app-h3">MOBILE APP</h3>
                        <h1 class="app-h1">FIND.FOLLOW.<br>FAVORITE.</h1>
                        <p class="app-p">Save your favorites and share your style.</p>
                        <a href="#"><img src="/static/img/app-store.png" alt="ios"></a>
                        <a href="#"><img src="/static/img/google-play.png" alt="android"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer padding-site">

            <div class="footer-top">
                <div class="contact">
                    <h3 class="footer-h3">CONTACT US</h3>
                    <p class="contact-p">132A Bridge Road Richmand VIC Australia<br> <br>Talk to us on 1300132
                        info@interior.com</p>
                </div>
                <div class="useful">
                    <h3 class="footer-h3">USEFUL INFORMATION</h3>
                    <div class="mini-menu">
                        <div class="menu-mini right-margin">
                            <a href="#">SALES TERMS</a>
                            <a href="#">CUSTOMER CARE</a>
                            <a href="#">DELIVERY</a>
                        </div>
                        <div class="menu-mini">
                            <a href="#">ARCHITECT ACCOUNTS</a>
                            <a href="#">CAREERS</a>
                            <a href="#">EXCHANGES & RETURNS</a>
                        </div>
                    </div>

                </div>
                <div class="touch">
                    <h3 class="footer-h3">LET'S STAY IN TOUCH</h3>
                    <p class="contact-p">Subscribe to know about our latest news, products and spoecial offers just for
                        subscribers.</p>
                    <form class="email-form" action="#">
                        <input class="contact-email" type="text" placeholder="your email adress">
                        <input class="email-button" type="submit" value="">
                    </form>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="copyright">
                    <p>&copy; COPYRIGHT - INTERIOR 2016.ALL RIGHTS RESERVED</p>
                </div>
                <div class="s-links">
                    <a href="#"><img src="/static/img/social-links.png" alt="links"></a>
                </div>
                <div class="terms">
                    <a href="#">TERMS & CONDITIONS/PRIVACY POLICY & COOKIES</a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
